<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="UTF-8">
	<title>Pathfinder</title>
	<link rel="stylesheet" th:href="@{/style.css}">
	<script th:src="@{/main.js}" defer></script>
</head>
<body>
<div class="container">
	<div class="nav-bar">
		<h1>Pathfinder</h1>
		<select id="algorithm-selector">
			<option value="" disabled selected>Select Algorithm</option>
			<option value="aStar">A* Algorithm</option>
			<option value="dijkstra">Dijkstra's Algorithm</option>
			<option value="breadthFirst">Breadth First Algorithm</option>
			<option value="depthFirst">Depth First Algorithm</option>
			<option value="biDirectionalSwarm">Bidirectional Swarm Algorithm</option>
			<!-- Add more algorithms here -->
		</select>
		<button id="clear-button" onclick="clearGrid()">Clear grid</button>
		<button id="maze-button" onclick="generateMaze()">Generate Maze</button>
		<button id="visualize-button" onclick="visualize()">Visualize</button>
	</div>
	<div class="grid-container" id="grid-container">
        <!-- The grid will be dynamically generated here -->
    </div>
</div>
</body>
</html>
